<h1>Login User</h1>
<form action="/Home/Login" method="post">
    <input type="text" name="Username" value="" />
    <br/>
    <input type="text" name="Password" value="" />
    <button type="submit">Login</button>
</form>
