<h1>Register User</h1>
<form action="/Home/Register" method="post">
    <input type="text" name="Username" value="" />
    <br />
    <input type="text" name="Password" value="" />
    <button type="submit">Register</button>
</form>
